.explore-theme {
  padding: 40px 0;
  background: #f3f5f7;
}

.explore-theme h2 {
  text-align: center;
  font-size: 2.5rem;
  
  margin-bottom: 20px;
  color: #1a365d;
}

.theme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 30px;
  height: auto;
  padding: 30px;
  
}

.theme-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,.1);
  cursor: pointer;
  position: relative;

  opacity: 0;
  transform: translateY(60px);

  transition:
  opacity .8s ease,
  transform .6s ease,
  box-shadow .4s ease;
}

/* Scroll animation */

.theme-card.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hover lift */

.theme-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 18px 40px rgba(0,0,0,.18);
}

/* Image */

.theme-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform .6s ease;
  border-bottom: 2px solid #f8e640;
}

/* Image zoom */

.theme-card:hover img {
  transform: scale(1.08);
}

/* difficulty*/
.trip-info {
  display: flex;
  padding-left: 30px;
  padding-top: 2px;
  font-size: 0.9rem;
  color: rgb(117, 114, 114);
  gap: 50px;
  list-style-type: square;
}
.theme-card h3 {
  padding: 0 18px 10px;
  font-size: 1.5rem;
  color: #1a365d;
  padding-bottom: 1.5px;

}

.theme-card p {
 margin-top: 1px;
  padding: 0 18px 10px;
  color: #252323;
  font-size: 1.0rem;
  font-family: 'Playfair Display', serif;
}

.trek-button{
    display: flex;
    margin: 5px 24px 18px;
    gap: 10px;
}

.trek-button button {
  
  padding: 9px 35px;
  
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.trek-info{
    background-color:#ff7a18 ;
}
.view-dates{
    background-color: rgb(8, 134, 134);
}
.trek-info:hover {
  background: #e67225;
  transform: scale(0.9);
}

.view-dates:hover {
  background:rgb(3, 112, 112);
  transform: scale(0.9);
}